<div class="d-flex justify-content-between align-items-center pt-3">
  <h2 class="full-name font-weight-bold"><%= @deputy.name %> <%= @deputy.surname %> <%= @deputy.patronymic %></h2>
  <% if can? :edit, @deputy %>
    <%= link_to "Изменить", edit_deputy_path(@deputy), class: "btn btn-outline-secondary float-right" %>
  <% end %>
</div>
<h6 class="position"><%= @deputy.current_position %></h6>
<div class="d-flex justify-content-between align-items-center pt-3 mb-2">
  <h5>Список дел </h5>
  <% if can? :create, @deed %><%= link_to 'Добавить дело', new_deputy_deed_path(@deputy), class: "btn btn-outline-success float-right" %>
  <% end %>
</div>
<table class="deputies table table-striped">
  <tr class="headline thead-dark">
    <th>Признак</th>
    <th>Регион</th>
    <th>Ущерб</th>
    <th>Мера пресечения</th>
    <th>Отбывание наказания</th>
    <th>Дата</th>
    <th colspan="2"></th>
  </tr>
  <% @deputy.deeds.each do |deed| %>
    <tr>
      <td><%= deed.sign %></td>
      <td><%= deed.region.region_value %></td>
      <td><%= deed.detriment %></td>
      <td><%= deed.punishment %></td>
      <td><%= deed.status %></td>
      <td><%= deed.date.strftime("%F") %></td>
      <td>
        <% if can? :edit, @deed %><%= link_to 'Изменить', edit_deed_path(deed), class: "btn btn-warning" %></td>
        <% end %>
        <td>
          <% if can? :delete, @deed %><%= link_to 'Удалить', deputy_deed_path(deed), method: :delete, class: "btn btn-danger" %></td>
          <% end %>
          </tr>
  <% end %>
</table>
