<% render 'head' %>
<% content_for :title, "Title for specific page" %>

<div class="container">
  <h2><%= @deputy.name %> <%= @deputy.surname %> <%= @deputy.patronymic %></h2>
  <h5> ID: <%= @deputy.id %></h5>
  <h6> <%= @deputy.current_position %></h6>
  <h5>Список дел</h5>
  <table class="deputies table table-striped table-hover">
    <tr class="headline thead-dark">
      <th>Признак</th>
      <th>Регион</th>
      <th>Ущерб</th>
      <th>Мера пресечения</th>
      <th>Отбывание наказания</th>
      <th>Дата</th>
      <th>Пруф линки</th>
    </tr>
    <% @deputy.deeds.each do |deed| %>
      <tr>
        <td><%= deed.sign %></td>
        <td><%= deed.detriment %></td>
        <td><%= deed.punishment %></td>
        <td><%= deed.status %></td>
        <td><%= deed.date %></td>
      </tr>
    <% end %>
  </table>
</div>