<h3 class="font-weight-bold pt-3">Признак:</h3><%= @deed.sign %>
<h3 class="font-weight-bold pt-3">Регион:</h3><%= @deed.region.region_value %>
<h3 class="font-weight-bold pt-3">Ущерб:</h3><%= @deed.detriment %>
<h3 class="font-weight-bold pt-3">Мера пресечения:</h3><%= @deed.punishment %>
<h3 class="font-weight-bold pt-3">Отбывание наказания:</h3><%= @deed.status %>
<h3 class="font-weight-bold pt-3">Дата:</h3><%= @deed.date %>
<h3 class="font-weight-bold pt-3">Причастный депутат</h3><%= link_to @deed.deputy.full_name, @deed.deputy %>
<h3 class="font-weight-bold pt-3">Пруф линки:</h3>


<%= link_to 'Изменить', edit_deputy_deed_path(@deed) %> |
<%= link_to 'Назад', deeds_path %>

